@using Blazorise
@using CFA_AutomationUI.Data
@page "/"

<PageTitle>Index</PageTitle>

<h1>Automation Jobs</h1>

<Card Class="custom-card mb-4">
    <CardBody>
        <CardTitle Size="3">
            Clock Out Crawler Job
        </CardTitle>
        <Fields>
            <Row>
                <Field ColumnSize="ColumnSize.Is2.OnDesktop">
                    <FieldLabel>From Date</FieldLabel>
                    <DatePicker TValue=DateTime? Class="custom-field" Placeholder="Enter From Date" @ref="@_fromDate" @bind-Date="@_dateTime1"/>
                </Field>

                <Field ColumnSize="ColumnSize.Is2.OnDesktop">
                    <FieldLabel>Thru Date</FieldLabel>
                    <DatePicker TValue=DateTime? Class="custom-field" Placeholder="Enter Thru Date" @ref="@_thruDate" @bind-Date="@_dateTime2"/>
                </Field>
            </Row>
            <br />

            <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                <FieldLabel>Site Username</FieldLabel>
                <TextEdit Class="custom-field" Placeholder="Enter Site Username" @bind-Text="@_username"/>
            </Field>
            <br />

            <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                <FieldLabel>Site Password</FieldLabel>
                <TextEdit Class="custom-field" Placeholder="Enter Site Password" @bind-Text="@_password"/>
            </Field>
            <br />

            <Button onclick="@RunPython" Color="Color.Primary" Class="custom-button">Run Job</Button>
        </Fields>
    </CardBody>
</Card>

@code
{
    [Inject]
    private IConfiguration Config { get; set; }

    string _username = "";
    string _password = "";
    DateTime? _dateTime1 = DateTime.Now.AddDays(-7);
    DateTime? _dateTime2 = DateTime.Now;
    DatePicker<DateTime?> _fromDate;
    DatePicker<DateTime?> _thruDate;


    private void RunPython()
    {
        PythonRunner.RunClockInCrawlerJob(Config, _dateTime1.Value, _dateTime2.Value, _username, _password);
    }
}